* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}

html, body {
    scroll-behavior: smooth;
}
header {
    position: fixed;
    width: 100vw;
    background-color: #333;
    padding: 16px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
}
header nav ul a {
    color: white;
    padding: 8px;
    transition: 0.5s;
}
header nav ul a:hover {
    /* border-bottom: solid black; */
    color: black;
    background-color: rgb(255, 145, 0);
}

.grupo {
    height: 100dvh;
}
#chaves {
    background-color: #FABC76;
}
#kiko {
    background-color: #B23030;
}
#chiquinha {
    background-color: #3BBA45;
}
#madruga {
    background-color: #1888FF;
}






/* #vermelho {
    background-color: red;
} */